[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
openai = "*"
pandas = "*"
pandas-stubs = "*"
pyarrow = "*"
python-dotenv = "*"
scikit-learn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.14"
